In [30]:
import pandas as pd

In [32]:
df=pd.read_csv('/home/pranita/PRANITA/M.Tech(CDAC)/ML/files/Gender_Height_Weight_Index.csv')

In [33]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [34]:
male_data=df[df['Gender']=='Male']
male_data.shape

(245, 4)

In [35]:
female_data=df[df['Gender']=='Female']

In [36]:
df.keys()

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [39]:
df_val=df.drop('Gender',1)

In [40]:
df_val

     Height  Weight  Index
0       174      96      4
1       189      87      2
2       185     110      4
3       195     104      3
4       149      61      3
5       189     104      3
6       147      92      5
7       154     111      5
8       174      90      3
9       169     103      4
10      195      81      2
11      159      80      4
12      192     101      3
13      155      51      2
14      191      79      2
15      153     107      5
16      157     110      5
17      140     129      5
18      144     145      5
19      172     139      5
20      157     110      5
21      153     149      5
22      169      97      4
23      185     139      5
24      172      67      2
25      151      64      3
26      190      95      3
27      187      62      1
28      163     159      5
29      179     152      5
..      ...     ...    ...
470     147     142      5
471     154     112      5
472     178      65      2
473     195     153      5
474     167      79      3
475     183     131      4
476     164     142      5
477     167      64      2
478     151      55      2
479     147     107      5
480     155     115      5
481     172     108      4
482     142      86      5
483     146      85      4
484     188     115      4
485     173     111      4
486     160     109      5
487     187      80      2
488     198     136      4
489     179     150      5
490     164      59      2
491     146     147      5
492     198      50      0
493     170      53      1
494     152      98      5
495     150     153      5
496     184     121      4
497     141     136      5
498     150      95      5
499     173     131      5

[500 rows x 3 columns]

In [42]:
df_val=df_val[['Height','Weight']]
df_val

     Height  Weight
0       174      96
1       189      87
2       185     110
3       195     104
4       149      61
5       189     104
6       147      92
7       154     111
8       174      90
9       169     103
10      195      81
11      159      80
12      192     101
13      155      51
14      191      79
15      153     107
16      157     110
17      140     129
18      144     145
19      172     139
20      157     110
21      153     149
22      169      97
23      185     139
24      172      67
25      151      64
26      190      95
27      187      62
28      163     159
29      179     152
..      ...     ...
470     147     142
471     154     112
472     178      65
473     195     153
474     167      79
475     183     131
476     164     142
477     167      64
478     151      55
479     147     107
480     155     115
481     172     108
482     142      86
483     146      85
484     188     115
485     173     111
486     160     109
487     187      80
488     198     136
489     179     150
490     164      59
491     146     147
492     198      50
493     170      53
494     152      98
495     150     153
496     184     121
497     141     136
498     150      95
499     173     131

[500 rows x 2 columns]

In [43]:
len(df_val)

500

In [44]:
#from sklearn import cross_validation
#from sklearn import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [64]:
x=df_val['Height']
y=df_val['Weight']
x_val=np.array(x)
y_val=np.array(y)
x_val=x_val.reshape(-1,1)
y_val=y_val.reshape(-1,1)

In [65]:
xTrain,xTest,yTrain,yTest=train_test_split(x_val,y_val,test_size=0.1)

In [66]:
# Machine Learning Algorithm
lr=LinearRegression()
lr.fit(xTrain,yTrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [67]:
accuracy=lr.score(xTest,yTest)
accuracy

-0.021816420702666983